.bodyy {
	width: 100%;
	height: 100%;
}

.contenedor {
	display: grid;
	margin-top: 100px;
	margin-bottom: 100px;
	gap: 1.8rem;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

.parrafos {
	font-size: 15px;
	margin: 20px;

	height: 100%;
}

.cuadro {
	margin: 0px auto;
	border: 5px solid #568259;
	border-radius: 1rem;
	padding: 2px 10px;
	box-shadow: 0 1rem 1rem #878b88;
	width: 100%;
	height: 100%;
}

.cuadro:hover {
	box-shadow: none;
}

.dibujitos {
	width: 20%;
	padding-left: 20px;
	width: 100%;
	height: 100%;
}
