.list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9.5vw;
    padding: 20px;
    width: 50vw;
    height: 5vh;
    gap: 0.3vw;
}

.items {
    text-align: center;
    list-style: none;
    border: none;
    border-radius: 50%;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 4px;
    background-color: transparent;
    
}

.a {
    /* color: #f3cf3d4d;
    font-family: 'Verdana', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer; */
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left:1px;
    background-color: #568259;
    color: whitesmoke;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0);
    font-family: 'Verdana', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.a:focus {
  color: rgb(12, 12, 12);
}