@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
/* 
html {
	font-size: 14px;
} */

.mainContainerDash {
	width: 100vw;
	height: 100vh;
	font-size: poppins, sans-serif;
	font-size: 0.88rem;
	background: #f6f6f9;
	user-select: none;
	color: #121619;
}

.container {
	display: grid;
	width: 96%;
	margin: 0 auto;
	gap: 1.8rem;
	grid-template-columns: 14rem auto 23rem;
}

a {
	color: #121619;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.77rem;
}

small {
	font-size: 0.75rem;
}

.profile_photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
}

.text_muted {
	color: #638565;
}

/* p {
	color: #677483;
} */

b {
	color: #121619;
}

.primary {
	color: #81e4c3;
}

.danger {
	color: #568259;
}

.success {
	color: #ff7782;
}

.warning {
	color: #ffbb55;
}

aside {
	height: 100vh;
}

aside .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}

aside .logo {
	display: flex;
	gap: 0.8rem;
}

aside .logo img {
	width: 2rem;
	height: 2rem;
}

aside .close {
	display: none;
}

aside .sidebar {
	display: flex;
	flex-direction: column;
	height: 86vh;
	position: relative;
	top: 3rem;
}

aside h3 {
	font-weight: 500;
}

aside .sidebar a {
	display: flex;
	background: #568259;
	margin-left: 2rem;
	align-items: center;
	position: relative;
	height: 3.7rem;
	transition: all 300ms ease;
}

aside .sidebar a span {
	font-size: 2rem;
	transition: all 300ms ease;
}

aside .sidebar a:last-child {
	position: absolute;
	bottom: 2rem;
	width: 86%;
}

aside .sidebar a.active {
	background-color: #878b88;
	color: #81e4c3;
	margin-left: 0;
}

aside .sidebar a.active:before {
	content: "";
	width: 6px;
	height: 100%;
	background: #81e4c3;
}

aside .sidebar a.active span {
	color: #81e4c3;
	margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
	color: #81e4c3;
}

aside .sidebar a:hover span {
	margin-left: 1rem;
}

aside .sidebar .message_count {
	background: #878b88;
	color: #fffbff;
	padding: 2px 10px;
	font-size: 11px;
	border-radius: 0.4rem;
	-webkit-border-radius: 0.4rem;
	-moz-border-radius: 0.4rem;
	-ms-border-radius: 0.4rem;
	-o-border-radius: 0.4rem;
}

main {
	margin-top: 1.4rem;
}

main .date {
	display: inline-block;
	background: #878b88;
	border-radius: 0.4rem;
	margin-top: 1rem;
	padding: 0.5rem 1.6rem;
}

main .date input[type="date"] {
	background: transparent;
	border: none;
	color: #fffbff;
	font-size: 0.8rem;
}

main .insigths {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}

main .insigths > div {
	background: #fffbff;
	padding: 1.8rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	margin-top: 1rem;
	box-shadow: 0 2rem 3rem #878b88;
}

main .insigths > div:hover {
	box-shadow: none;
}

main .insigths > div span {
	background: #81e4c3;
	padding: 0.5rem;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	color: #fffbff;
	font-size: 2rem;
}

main .insigths > div.expenses span {
	background: #568259;
}

main .insigths > div.income span {
	background: #ff7782;
}

main .insigths > div .middle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main .insigths h3 {
	font-size: 1rem 0 0.6rem;
}

main .insigths .progress {
	position: relative;
	width: 92px;
	height: 92px;
	border-radius: 50%;
}

main .insigths svg {
	width: 7rem;
	height: 7rem;
}

main .insigths svg circle {
	fill: none;
	stroke: #81e4c3;
	stroke-width: 14;
	stroke-linecap: round;
	transform: translate(5px, 5px);
	-webkit-transform: translate(5px, 5px);
	-moz-transform: translate(5px, 5px);
	-ms-transform: translate(5px, 5px);
	-o-transform: translate(5px, 5px);
	stroke-dasharray: 110;
	stroke-dashoffset: 92;
}

main .insigths .income svg circle {
	stroke-dashoffset: -30;
	stroke-dasharray: 200;
}

main .insigths .sale svg circle {
	stroke-dashoffset: 20;
	stroke-dasharray: 80;
}

main .insigths .expenses svg circle {
	stroke-dashoffset: -20;
	stroke-dasharray: 110;
}

main .insigths .progress .number {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .insigths small {
	margin-top: 1.3rem;
	display: block;
}

main .recent_orders {
	margin-top: 2rem;
}

main .recent_orders h2 {
	margin-bottom: 0.8rem;
}

main .recent_orders table {
	background: #fffbff;
	width: 100%;
	border-radius: 2rem;
	padding: 1.8rem;
	text-align: center;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
}

main .recent_orders table:hover {
	box-shadow: none;
}

main table tbody td {
	height: 2.8rem;
	border-bottom: 1px solid #878b88;
	color: #677483;
}

main table tbody td:last-child {
	border: none;
}

main .recent_orders a {
	text-align: center;
	display: block;
	margin: 1rem auto;
	color: #81e4c3;
}

/* PRINCIPIO DE CSS DE MENU */

.right {
	margin-top: 1.4rem;
}

.right .top {
	display: flex;
	justify-content: end;
	gap: 2rem;
}

button {
	background: #81e4c3;
	color: white;
	padding: 0.4rem 0.4rem;
	border: none;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: all 300ms ease;
}

button:hover {
	background: #568259;
}

.right .top .theme_toggler {
	display: flex;
	align-items: center;
}

.rigth .theme_toggler span {
	padding: 0.4rem 0.4rem;
	cursor: pointer;
	transition: all 300ms ease;
}

.rigth .theme_toggler span.active {
	background: #81e4c3;
	color: white;
}

.right .top .profile {
	display: flex;
	align-items: center;
}

.right .recent_updates {
	margin-top: 2rem;
}

.right .recent_updates h2 {
	margin-bottom: 0.8rem;
}

.right .recent_updates .updates {
	background: #fffbff;
	border-radius: 2rem;
	padding: 1.2rem;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
}

.right .recent_updates .updates:hover {
	box-shadow: none;
}

.right .recent_updates .updates .update {
	display: grid;
	grid-template-columns: 2.6rem auto;
	gap: 1rem;
	margin-bottom: 1rem;
}

.right .sales_analytics {
	margin-top: 2rem;
}

.right .sales_analytics h2 {
	margin-bottom: 0.8rem;
}

.right .sales_analytics .item_online {
	background: #fffbff;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem 1.8rem;
	border-radius: 1.2rem;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
}

.right .sales_analytics .item_online:hover {
	box-shadow: none;
}

.right .sales_analytics .item_online .right {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: 0;
	width: 100%;
}

.right .sales_analytics .item_online .icon {
	padding: 0.6rem;
	color: #f6f6f9;
	border-radius: 50%;
	background: #81e4c3;
	display: flex;
}

.right .sales_analytics .item_customers {
	background: #fffbff;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem 1.8rem;
	border-radius: 1.2rem;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
}

.right .sales_analytics .item_customers:hover {
	box-shadow: none;
}

.right .sales_analytics .item_customers .right {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: 0;
	width: 100%;
}

.right .sales_analytics .item_customers .icon {
	padding: 0.6rem;
	color: #f6f6f9;
	border-radius: 50%;
	display: flex;
	background: #ffbb55;
}

.right .sales_analytics .item_offline {
	background: #fffbff;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem 1.8rem;
	border-radius: 1.2rem;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
}

.right .sales_analytics .item_offline:hover {
	box-shadow: none;
}

.right .sales_analytics .item_offline .right {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: 0;
	width: 100%;
}

.right .sales_analytics .item_offline .icon {
	padding: 0.6rem;
	color: #f6f6f9;
	border-radius: 50%;
	display: flex;
	background: #ff7782;
}

.right .sales_analytics .item_add_products {
	background: #fffbff;
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.7rem;
	padding: 1.4rem 1.8rem;
	border-radius: 1.2rem;
	box-shadow: 0 2rem 3rem #878b88;
	transition: all 300ms ease;
	background-color: transparent;
	border: 2px dashed #81e4c3;
	justify-content: center;
	color: #ff7782;
}

.right .sales_analytics .item_add_products:hover {
	box-shadow: none;
}

.right .sales_analytics .item_add_products .right {
	display: flex;
	justify-content: space-between;
	align-items: start;
	margin: 0;
	width: 100%;
}

.right .sales_analytics .item_add_products .icon {
	padding: 0.6rem;
	color: #f6f6f9;
	border-radius: 50%;
	background: #81e4c3;
	display: flex;
}

.right .sales_analytics .item_add_products div {
	display: flex;
	align-items: center;
	gap: 0.6rem;
}

.right .sales_analytics .item_add_products div span {
	font-size: 600;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 94%;
		grid-template-columns: 7rem auto 23rem;
	}

	aside .logo h2 {
		display: none;
	}

	aside .sidebar h3 {
		display: none;
	}

	aside .sidebar a {
		width: 5.6rem;
	}

	aside .sidebar a:last-child {
		position: relative;
		margin-top: 1.8rem;
	}

	main .insigths {
		grid-template-columns: 1fr;
		gap: 0;
	}

	main .recent_orders {
		width: 94%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin: 2rem 0 0 8.8rem;
	}

	main .recent_orders table {
		width: 83vw;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
		grid-template-columns: 1fr;
	}

	aside {
		position: fixed;
		left: 0;
		background: #f6f6f9;
		width: 18rem;
		z-index: 3;
		box-shadow: 1rem 3rem 4rem #878b88;
		height: 100vh;
		padding-right: 1.8rem;
		display: none;
	}

	aside .logo {
		margin-left: 1rem;
	}

	aside .logo h2 {
		display: inline;
	}

	aside .sidebar h3 {
		display: inline;
	}

	aside .sidebar a {
		width: 100%;
		height: 3.4rem;
	}

	aside .sidebar a:last-child {
		position: absolute;
		bottom: 5rem;
	}

	aside .close {
		display: inline-block;
		cursor: pointer;
	}

	main {
		margin-top: 8rem;
		padding: 0 1rem;
	}

	main .recent_orders {
		position: relative;
		margin: 3rem 0 0 0;
		width: 100%;
	}

	main .recent_orders table {
		width: 100%;
		margin: 0;
	}

	.right {
		width: 94%;
		margin: 0 auto 4rem;
	}

	.right .top {
		position: fixed;
		top: 0;
		left: 0;
		align-items: center;
		padding: 0 0.8rem;
		height: 4.6rem;
		background: #f6f6f9;
		width: 100%;
		margin: 0;
		z-index: 2;
		box-shadow: 0 1rem 1rem #878b88;
	}

	.right .top button {
		display: inline-block;
		background: transparent;
		cursor: pointer;
		color: #121619;
		position: absolute;
		left: 1rem;
	}

	.right .top button span {
		font-size: 2rem;
	}
}
