/* archivo TermsAndConditions.css */
.terms_and_conditions_container {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding-bottom: 200px;
}

.terms_and_conditions_title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

ol {
	list-style-type: decimal;
	margin-left: 20px;
}
