.formPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #568259;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	animation: appear 0.5s ease-in-out;
	z-index: 99;
	overflow: auto;
	height: 85%;
	width: 40%;
	margin-top: 35px;
}

.titleCrudPop {
	background-color: #568259;
	padding: 8px;
	margin-bottom: 1rem;
	text-align: center;
}

@keyframes appear {
	from {
		transform: translate(-50%, -100%) scale(0.5);
		opacity: 0;
	}
	to {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
}

textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 16px;
	resize: vertical;
}

.warning {
	border: solid rgb(134, 132, 8) 1px;
	border-radius: 0.2em;
}

.danger {
	color: red;
	margin-left: 10em;
	font-size: medium;
}

form {
	display: flex;
	background-color: rgba(184, 184, 184, 0.82);
	color: #000000;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
	width: 500px;
	justify-content: center;
	flex-direction: column;
	margin-top: 1rem;
}

.select {
	border-radius: 8px;
	width: 7rem;
	margin-right: 1rem;
	border: 2px solid #ffffff;
	height: 40px;
	background: initial;
	font-family: inherit;
	font-size: medium;
	margin-bottom: 1rem;
	padding-left: 10px;
	/* background: rgb(134, 138, 143); */
}
