.imagen {
  height: 100vh;
  width: 210vh;
}

.logo {
  width: 300px;
  height: 300px;
  margin-bottom: 100px;
}

.boton {
  background-color: #568259;
  border-radius: 10px;
  padding: 5px 10px;
  border-color: transparent;
}

.boton:hover {
  background-color: hsla(124, 20%, 42%, 0.8);
}
