.imagen {
  height: 100vh;
  width: 100%;
}

.logo {
  width: cover;
  animation-name: palpita;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.containeImg {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  width: 100%;
  background-color: transparent;
  margin-bottom: 100px;
}

.subContaineImg {
  width: 40%;
  padding: 15px;
  transition: all 1s;
}

.subContaineImg:hover {
  transition: all 1s;
  transform: scale(1.1);
  background-color: #56825943;
  border-radius: 20px;
}

.containerText {
  background-color: hsla(0, 0%, 13%, 0.7);
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
}

@keyframes palpita {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
