.header img {
  width: 100vmax;
  height: 100%;
}

.degradado {
  position: absolute;
  color: #fffbff;
  margin-top: 10%;
  margin-left: 10%;
  width: 40%;
  padding: 2rem;
  animation-name: desaparece;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 1s;
}

.degradado:hover {
  transition: all 1s;
  transform: scale(1.05);
  cursor: default;
}

@media only screen and (max-width: 600px) {
  .header img {
    object-fit: cover;
    height: 23rem;
    width: 100%;
  }

  .degradado {
    margin-top: 20px;
    margin-right: 20px;
    width: 80%;
  }
}

@keyframes desaparece {
  0% {
    transform: translateX(-500px);
    color: transparent;
    background-color: transparent;
  }

  100% {
    transform: translateX(1000);
  }
}