.container {
  background-color: #568259;
  position: fixed;
  right: 0;
  margin-top: 15px;
  padding-right: 10px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.logo {
  height: 50px;
  width: 50px;
  background-image: url(../../imagenes/logo2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.link {
  background-color: transparent;
  border-color: transparent;
  text-decoration: none;
  color: #121619;
  cursor: pointer;
  font-size: 1em;
  transition-duration: all 1s;
}

.link:hover {
  transition-duration: all 1s;
  color: #a8cf45;
  text-decoration: none;
}

.navActivety {
  transition-duration: 1s;
  color: #a8cf45;
  text-decoration: none;
}

.cart {
  width: 30px;
  height: 30px;
}

.cart:hover {
  transition-duration: all 1s;
  color: #a8cf45;
}

.button {
  color: #fffbff;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  background-color: #ea4335;
  border-color: transparent;
  transition: all 1s;
}

.button:hover {
  transition: all 1s;
  background-color: hsla(5, 81%, 56%, 0.8);
}
