.divi{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  
}

.select {
  background-image: url('https://1.bp.blogspot.com/-kjKb_TRfNRI/Vn_q0Fk0YsI/AAAAAAAARFg/bNGN-u8XB_Q/s800-Ic42/down.png');
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-size: 1rem;
  font-family: "Verdana", sans-serif;
  font-weight: 400;
  color: #111;
  line-height: 1.3;
  padding: 0.4em 1.4em 0.3em 0.8em;
  width: 200px;
  box-sizing: border-box;
  margin: 20px auto;
  border: 0px  #eee;
  border-bottom:2px solid #568259;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0);

  appearance: none;
  background-color: #eee;
  cursor: pointer;
}

.order {
  background: #eee;
  color: #444;
  
}
@media (max-width:600px) {

  .select{
    width: 100%;
  }
  .divi{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    padding:20px;
  }
}

.divi{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    background-color: #eee;
}
